@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(./Instituto-Pazioli-main/imagenesSection2/);
* {
  margin: 0%;
  padding: 0%;
}

.nuevo__modelo {
  background-image: url(./imagenes/nuevo-modelo-background-image.png);
  width: 320px;
  top: 608px;
  height: 778px;
  font-family: "Raleway";
  color: white;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo {
    width: 960px;
    height: 761px;
    top: 926px;
    border: 1px;
    font-family: "Raleway";
    color: white;
    background-image: url(./imagenes/desktop-nuevo-modelo-background.png);
  }
}
.nuevo__modelo__section1 {
  height: 309.61px;
  display: grid;
}

.nuevo__modelo__section2 {
  height: 468.39px;
  display: grid;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__section2 {
    height: 358px;
    display: flex;
    flex-direction: column;
    left: 32px;
  }
}
.nuevo__modelo__titulo {
  width: 288px;
  height: 64px;
  top: 100px;
  left: 15.5518798828px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: black;
  justify-self: center;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__titulo {
    width: 470px;
    height: 62px;
    top: 262px;
    font-size: 32px;
    font-weight: 400;
    line-height: 43.17px;
    letter-spacing: 0.05em;
    color: black;
  }
}
.nuevo__modelo__titulo, .nuevo__modelo__ebony {
  font-family: "Abril Fatface";
  justify-self: center;
  text-align: center;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__titulo, .nuevo__modelo__ebony {
    font-family: "Abril Fatface";
  }
}
.z__index__one {
  content: url(./imagenes/Vector.svg);
  z-index: 1;
  top: 100px;
  position: absolute;
  left: 40px;
}

@media only screen and (min-width: 960px) {
  .z__index__one {
    content: url(./imagenes/Desktop-Vector.png);
    z-index: 1;
    top: 320px;
    position: absolute;
    left: 410px;
    width: 446.39px;
    height: 247.4px;
  }
}
.z__index__two {
  content: url(./imagenes/Vector2.svg);
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 85px;
}

@media only screen and (min-width: 960px) {
  .z__index__two {
    content: url(./imagenes/Desktop-Vector2.png);
    z-index: 2;
    top: 335px;
    position: absolute;
    left: 490px;
    width: 360px;
    height: 280px;
  }
}
.z__index__three {
  content: url(./imagenes/icons.png);
  position: absolute;
  z-index: 3;
  top: 100px;
  left: 62px;
}

@media only screen and (min-width: 960px) {
  .z__index__three {
    content: url(./imagenes/desktop-icons.png);
    z-index: 3;
    top: 330px;
    position: absolute;
    left: 440px;
    width: 362.65px;
    height: 180.21px;
  }
}
.z__index__four {
  content: url(./imagenes/ebony-model-piano.png);
  z-index: 4;
  width: 209.94px;
  height: 175.46p;
  top: 100px;
  position: absolute;
  left: 35px;
}

@media only screen and (min-width: 960px) {
  .z__index__four {
    content: url(./imagenes/desktop-ebony-model-piano.png);
    z-index: 4;
    top: 340px;
    position: absolute;
    left: 350px;
    width: 446.39px;
    height: 310.53px;
  }
}
.nuevo__modelo__ebony {
  top: 100px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 960px) {
  .desktop__nuevo-modelo {
    position: absolute;
    top: 262px;
    width: 230px;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    left: 32px;
    text-align: left;
  }
}
.nuevo__modelo_caja-valoracion {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo_caja-valoracion {
    position: absolute;
    left: 32px;
  }
}
.valoracion {
  width: 71px;
  height: 14px;
  top: 312px;
  left: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
}

.rating {
  content: url(./imagenes/rating.png);
  width: 16px;
  height: 15.5px;
}

@media only screen and (min-width: 960px) {
  .desktop__precio {
    position: absolute;
    top: 343px;
    width: 218;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
    left: 32px;
  }
}
p {
  display: grid;
  justify-self: center;
  text-align: center;
  width: 288px;
  height: 131px;
}

@media only screen and (min-width: 960px) {
  p {
    position: absolute;
    width: 288px;
    height: 131px;
    top: 391px;
    text-align: left;
    left: 32px;
  }
}
.nuevo__modelo__detalles {
  display: flex;
  justify-self: center;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  height: 14px;
  top: 1264px;
}

@media only screen and (min-width: 960) {
  .nuevo__modelo__detalles {
    display: flex;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    height: 14px;
  }
}
.nuevo__modelo__list-nuevo {
  width: 40px;
  left: 45.55px;
  list-style: none;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__list-nuevo {
    position: absolute;
    top: 540px;
    width: 40px;
    left: 32px;
    list-style: none;
  }
}
.nuevo__modelo__list-2021 {
  width: 29px;
  left: 106.55px;
  margin-left: 21px;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__list-2021 {
    position: absolute;
    top: 540px;
    width: 40px;
    left: 78.55px;
  }
}
.nuevo__modelo__list-Acus {
  width: 40px;
  left: 154.55px;
  margin-left: 19px;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__list-Acus {
    position: absolute;
    top: 540px;
    width: 40px;
    left: 141px;
  }
}
.nuevo__modelo__list-Cedro {
  width: 56px;
  left: 217.55px;
  margin-left: 23px;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__list-Cedro {
    position: absolute;
    top: 540px;
    width: 56px;
    left: 204px;
  }
}
.nuevo__modelo__button {
  background-color: black;
  width: 228px;
  height: 32px;
  top: 700px;
  left: 45.55px;
  border-radius: 8px;
  justify-self: center;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
  border: none;
}

@media only screen and (min-width: 960px) {
  .nuevo__modelo__button {
    position: absolute;
    background-color: black;
    width: 228px;
    height: 32px;
    top: 588px;
    left: 32px;
    border-radius: 8px;
    justify-self: center;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    border: none;
  }
}/*# sourceMappingURL=style.css.map */