//Section number 2 start
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(./Instituto-Pazioli-main/imagenesSection2/);


.section1-nav__menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
  .section1-navbar__menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
   align-items: center                              ;
  }
  .section1-navbar-home__item {
    margin-left: 20px;
  }
  .section1-navbar-Pianos__item {
    margin-left: 20px;
  }
  .section1-navbar-estudiante__item {
    margin-left: 20px;
  }
  .section1-contact__button {
    width: 129px;
    height: 32px;
    border-radius: 8px;
    margin-left: 20px;
    background-color: #000000;
    color: #FFFFFF;
  }
  .section1-main__navbar__item {
    width: 800px;
    list-style: none;
    margin: 50px;
  }
  .section1-main-nav__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .section1-main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section1-main-section__detail {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 500;
    text-align: center;
    margin: 17px;
    color: #858585;
  }
  .section1-institution__name {
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 30px;
  }
  .section1-main-nav__buttons {
    width: 274px;
    height: 60px;
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
  }
  .section1-courses__button {
    border: 1px;
    border-radius: 8px;
    color: white;
    background-color: #000000;
    width: 129px;
    height: 32px;
  }
  .section1-shop-piano__button {
    border: 1px solid black;
    border-radius: 8px;
    color: #000000;
    background-color: white;
    width: 129px;
    height: 32px;
  }
  .section1-nav-menu__logos {
    display: flex;
    justify-content: space-between;
  }
  .section1-nav__logo {
    height: 44px;
    width: 88px;
    margin-top: 32px;
    margin-left: 15.55px;
  }
  .section1-div__shoopingcart {
    width: 114px;
    height: 123px;
  }
  .section1-nav__shoppingcart {
    display: flex;
    align-items: end;
  }
  .section1-nav-menu__items {
    display: flex;
  }
  .section1-buttons {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style: none;
    margin-right: 20px;
  }
  .section1-buttons a {
    text-decoration: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #FFFFFF;
    color: #000000;
    border-radius: 50%;
    border: 2px solid black ;
  }
  @media only screen and (min-width: 768px) {
    .section1-main-section__detail {
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 768px) {
    .section1-institution__name {
      font-size: 56px;
    }
  }
  @media only screen and (max-width: 768px) {
    .section1-navbar__menu {
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    .section1-buttons {
      display: none;
    }
  }





@media only screen and (max-width: 768px){    
    .section2__nuevo__modelo{
    background-image: url(./Instituto-Pazioli-main/imagenesSection2/nuevo-modelo-background-image.png);
    background-size: 20vw;
    height: 778px;
    font-family: 'Raleway';
    display: flex;
    color: white;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover ;
}

.section2__nuevo__modelo__titulo__container{
    display: flex;
    justify-content: center;
    height: 65px;
    color: black;

}

.section2__nuevo__modelo__titulo{
    display: flex;
    justify-content: center;
    width: 288px;
    text-align: center;
    height: 64px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: black;
    font-family: 'Abril FatFace';
}

.section2__nuevo__modelo__imagen__container{
    display: flex;
    justify-content: center;
}


.section2__nuevo__modelo__imagen{
    content: url(./Instituto-Pazioli-main/imagenesSection2/mobile-nuevo-modelo.png);
    height: 308px;
    width: 70%;
    display: flex;
    justify-content: center;
}

.section2__nuevo__modelo__section2{
    height: 468.39px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section2__nuevo__modelo__ebony {
    top: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    font-family: 'Abril Fatface';
    justify-self: center;
    text-align: center;
}

.section2__nuevo__modelo_caja-valoracion{
    display: flex;
    justify-content: center;
}


.section2__valoracion{
    width: 71px;
    height: 14px;
    top: 312px;
    left: 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.section2__rating{
    content: url(./Instituto-Pazioli-main/imagenesSection2/rating-mobile.png);
    width: auto;
    height: 15.5px;
}
.section2__nuevo__parafo__container{
    display: flex;
    justify-content: center;
}
.section2__nuevo__modelo__parrafo{
    text-align: center;
    width: 290px;
    height: 131px;
}

.section2__nuevo__modelo__detalles{
    display: flex;
    justify-content: center;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    height: 14px;
    top:1264px;
}

.section2__nuevo__modelo__list-nuevo{
    width: 40px;
    left: 45.55px;
    list-style: none;
}

    .section2__nuevo__modelo__list-2021{
    width: 29px;
    left: 106.55px;
    margin-left: 21px;
}
    .section2__nuevo__modelo__list-Acus{
    width: 40px;
    left: 154.55px;
    margin-left: 19px;
}
    .section2__nuevo__modelo__list-Cedro{
    width: 56px;
    left: 217.55px;
    margin-left: 23px;
}

    .section2__nuevo__modelo__button{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 228px;
    height: 32px;
    border-radius: 8px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    border: none;
    text-align:end;
    align-self: center;
    padding-top: 8px;
}
}
@media only screen and (min-width:768px){
    .section2__nuevo__modelo{
        background: no-repeat;
        width: auto;
        height: 761px;
        border: 1px;
        font-family: 'Raleway';
        color: white;
        background-repeat: no-repeat;
        background-size: cover ;
        background-image: url(./Instituto-Pazioli-main/imagenesSection2/desktop-nuevo-modelo-background.png)
    }
    
    .section2__nuevo__modelo__titulo__container{
        display: flex;
        justify-content: center;
        height: 65px;
        color: black;
    }

    .section2__nuevo__modelo__titulo{
        display: flex;
        justify-content: center;
        width: 470px;
        height: 62px;
        font-size: 32px;
        font-weight: 400;
        line-height: 43.17px;
        letter-spacing: 0.05em;
        text-align: center;
        color: black;
    }


    .section2__nuevo__modelo__titulo, .section2__nuevo__modelo__ebony{
        font-family: 'Abril Fatface';
    }

    .section2__nuevo__modelo__imagen__container{
        display: flex;
        justify-content: right;
        margin-top: 190px;
        align-self: center;
    }
    .section2__nuevo__modelo__imagen{
        content: url(./Instituto-Pazioli-main/imagenesSection2/Desktop-nuevo-modelo-ebony.png);
        width: 506px;
        height: 463px;
    }   

    .section2__nuevo__modelo__section2{
        height: 358px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        left: 32px;
    }

    .section2__desktop__nuevo-modelo{
        position: absolute;
        top: 262px;
        width: 230px;
        height: 32px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.05em;
        left: 32px;
        text-align: left;
    }

    .section2__nuevo__modelo_caja-valoracion{
        position: absolute;
        top: 311px;
        left: 32px;
    }

    .section2__desktop__precio{
        position: absolute;
        top: 343px;
        width: 218;
        height: 32px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-align: left;
        left: 32px;
    }
    .section2__rating{
    content: url(./Instituto-Pazioli-main/imagenesSection2/rating-mobile.png);
    width: 112px;
    height: 16px;
    }
    .section2__nuevo__modelo__parrafo{
        position: absolute;
        width: 340px;
        height: 131px;
        top: 391px;
        text-align: left;
        left: 32px;
    }


    .section2__nuevo__modelo__detalles{
        display: flex;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-align: left;
        height: 14px;
    }

    .section2__nuevo__modelo__list-nuevo{
        position: absolute;
        top: 540px;
        width: 40px;
        left: 32px;
        list-style: none;
    }

    .section2__nuevo__modelo__list-2021{
        position: absolute;
        top: 540px;
        width: 40px;
        left: 78.55px;
    }

    .section2__nuevo__modelo__list-Acus{
        position: absolute;
        top: 540px;
        width: 40px;
        left: 141px;
    }

    .section2__nuevo__modelo__list-Cedro{
        position: absolute;
        top: 540px;
        width: 56px;
        left: 204px;
    }
    
    .section2__nuevo__modelo__button{
        position: absolute;
        background-color: black;
        width: 228px;
        height: 32px;
        top: 588px;
        left: 32px;
        border-radius: 8px;
        justify-self: center;
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: center;
        color: white;
        border: none;
    }
}
//section number 2 end

//Contactanos Section
.section__contact--container{
    background: url(./images/bg-piano-gradent.svg),transparent;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contact__h2{
    font-weight: bold;
    text-align: center;
    font-family: 'Abril Fatface';
}
.contac__form{
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}
.Contatc__form--input{
    background-color:black;
    opacity: .5;
    height: 30px;
}
.Contact__p{
    text-align: center;
    width: 470px;
    font-family: 'Raleway';
    margin: 40px;
}
.Contact__font--email{
    display: inline;
}
.contact__form--textarea{
    background-color:black;
    opacity: .5;
}
.contact--button{
    border-radius: 10px;
    font-weight: bold;
    color:aliceblue;
    background-color: black;
    height: 30px;
    font-family: 'Poppins';
}
.Contatc__form--label{
    font-family: 'Raleway';
    margin-bottom: -30px;
}


@media only screen and (max-width: 600px) {
    .section__contact--container{
        background: url(./images/bg-piano-gradent.svg),transparent;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .contac__form{
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .Contatc__form--input{
        background-color:black;
        opacity: .5;
        height: 30px;
        width:90%;
    }
    .Contact__p{
        text-align: center;
        width: 60%;
        font-family: 'Raleway';
        margin: 40px;
    }
}

 
@media only screen and (min-width: 600px) {
    .section__contact--container{
        background: url(./images/bg-piano-gradent.svg),transparent;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .contac__form{
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
        font-weight: bold;
    }
    .Contatc__form--input{
        background-color:black;
        opacity: .5;
        height: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .section__contact--container{
        background: url(./images/bg-piano-gradent.svg),transparent;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .contac__form{
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
        font-weight: bold;
    }
    .Contatc__form--input{
        background-color:black;
        opacity: .5;
        height: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .section__contact--container{
        background: url(./images/bg-piano-gradent.svg),transparent;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .contac__form{
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
        font-weight: bold;
    }
    .Contatc__form--input{
        background-color:black;
        opacity: .5;
        height: 30px;
    }
    .Contact__p{
        text-align: center;
        width: 470px;
        font-family: 'Raleway';
        margin: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .section__contact--container{
        background: url(./images/bg-piano-gradent.svg),transparent;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .contac__form{
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
        font-weight: bold;
    }
    .Contatc__form--input{
        background-color:black;
        opacity: .5;
        height: 30px;
    }
    .Contact__p{
        text-align: center;
        width: 470px;
        font-family: 'Raleway';
        margin: 40px;
    }
}  
//Fin contactanos section
// SECTION 3 INICIO

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para el título principal */
.section3__main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura a tu preferencia */
  text-align: center;
}

.section3__main-title {
  font-size: 32px;
  //   margin: 154px;
  padding: 34px;
  width: 470px;
  height: 62px;
  display: flex;
  position: relative;
  bottom: 100px;
  justify-content: center;
}

/* Estilos para las tarjetas */
.section3__card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.section3__card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: center;
  height: 200px;
  background-color: white;
  box-shadow: -1px 19px 40px 8px rgba(155, 155, 155, 0.76);
  border-radius: 5%;
  .section3__card-image {
    position: relative;
    bottom: 130px;
  }
}

.section3__divider {
  border-bottom: 1px dashed #999;
  margin: 10px 0;
  padding-bottom: 10px;
  position: relative;
  bottom: 130px;
}

.section3__image-piano {
  height: 167px;
}

.section3__image-piano-cafe {
  position: relative;
  bottom: 13px;
}

.section3__card-content {
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente */
  position: relative;
  bottom: 130px;
}

/* Estilos para el título de la tarjeta */
.section3__card-title {
  font-size: 20px;
  margin: 0; /* Eliminar margen por defecto */
  margin-bottom: 20px; /* Añadir espacio entre el título y la lista */
  text-align: left;
}

/* Estilos para la lista horizontal */
.section3__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* Distribuir uniformemente los elementos */
}

.section3__card-list-item {
  /* Espaciado entre elementos */
  display: flex;
  align-items: center;
  position: relative;
}

.section3__card-list-item--elipse::after {
  content: "•"; /* Elipse */
  margin: 0 5px; /* Espaciado entre elipse y el siguiente elemento */
}

.section3__button-container {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
  gap: 10px; /* Espacio entre el botón y el enlace */
  justify-content: space-around;
  margin-top: 20px;
}

.section3__card-button {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.section3__cart-link {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
}

.section3__button-container-footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 60px;
  .section3__button-item {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 129px;
    height: 32px;
  }
}

.section3__cart-link img {
  height: 60%;
}



@media only screen and (max-width: 768px) {
  /* Cambiar a diseño vertical en pantallas pequeñas */
  .section3__main-section {
    height: auto;
  }

  .section3__main-title {
    width: auto;
    position: relative;
    bottom: 0;
  }

  .section3__card-container {
    flex-direction: column;
    gap: 10px; /* Espacio entre elementos */
  }
  .section3__card {
    height: 350px;
    width: 250px;
  }
  .section3__image-piano {
    .section3__card-image {
      bottom: 0;
    }
  }
  .section3__divider {
    bottom: 9px;
  }
  .section3__card-content {
    bottom: -11px;
  }

  .section3__button-item {
    margin-bottom: 40px;
  }
}

// SECTION 3 INICIO

//Footer Inicio

@media only screen and (max-width:768px) {
    footer {  
     background: linear-gradient(white,#6F6F6F);
        

    .social-media__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 258px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .about-us__container{
        list-style: none;
        text-align: center;
    }
    li{
        margin-top: 15px;
    }
    .contact-us__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        p {
            text-align: center;
        }
    
    }
    .contact-us__subtitle{
        margin-top: 12px;
    }
    .mexico__container{
        margin-top: 21px;
        text-align: center;
    }
    .directions__container{
        width: 253px;
        text-align: center;
        margin-top: 12px;
    }
    .credits{
        text-align: center;
        margin-top: 128px;       
    
}

}}
.author__image{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    img{        
                width: 100px;
    }
}



@media only screen and (min-width:768px) {
footer {
    margin: 0px;
    width: auto;
    padding: 80px;    
    background: linear-gradient(white,#6F6F6F);


.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: auto;
    
 
    .social-media__container {
        width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .social-media__list{
            width: auto;
            margin-top: 30px;
            img{
                margin-left: 15px;
                justify-content: center;
            }
        }      
    }

    
    .about-us__container {   
        width: 319px;     
        flex-direction: row;
        text-align: left;      
      
        .about__list {
            list-style: none;
            margin-top: 15px;
            li {
                margin-top: 15px;
            }          
        }
        p {
            margin-top: 50px;
        }
    }

    .contact-us__container {
        width: 390px;
        flex-direction:column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        p {
            margin-top: 15px;
        }
    }

    
    
}
.author__image{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    img{        
                width: 100px;
    }
}
}
}

.section5-partners {
    background-image: url("./images/Rectangle\ 9.png");
    background-size: cover;
    height: 700px;
    
  }
  .section5-title {
    text-align: center;
    padding: 30px;
    padding-bottom: 80px;
    font-size: 30px;
    font-family: Abril Fatface;
  }
  .section5-article__buttons {
    display: flex;
    align-content: center;
  }
  .section5-buttons__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .section5-button__item {
    padding-bottom: 40px;
    padding: 50px;
  }
  //media queries SECTION5-PARTNERS
  @media only screen and (max-width: 900px){
    .section5-button__item--destokp {
      display:none;
    }
  }
  @media only screen and (min-width: 900px){
    .section5-button__item{
      display:none;
      align-content: center;
    }
  }