@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(./Instituto-Pazioli-main/imagenesSection2/);



*{
    margin: 0%;
    padding: 0%;
       }       

@media only screen and (max-width: 768px){    
    .section2__nuevo__modelo{
    background-image: url(./Instituto-Pazioli-main/imagenesSection2/nuevo-modelo-background-image.png);
    background-size: 20vw;
    height: 778px;
    font-family: 'Raleway';
    display: flex;
    color: white;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover ;
}

.section2__nuevo__modelo__titulo__container{
    display: flex;
    justify-content: center;
    height: 65px;
    color: black;

}

.section2__nuevo__modelo__titulo{
    display: flex;
    justify-content: center;
    width: 288px;
    text-align: center;
    height: 64px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: black;
    font-family: 'Abril FatFace';
}

.section2__nuevo__modelo__imagen__container{
    display: flex;
    justify-content: center;
}


.section2__nuevo__modelo__imagen{
    content: url(./Instituto-Pazioli-main/imagenesSection2/mobile-nuevo-modelo.png);
    height: 308px;
    width: 70%;
    display: flex;
    justify-content: center;
}

.section2__nuevo__modelo__section2{
    height: 468.39px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section2__nuevo__modelo__ebony{
    top: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;  
    letter-spacing: 0.05em;
    font-family: 'Abril Fatface';
    justify-self: center;
    text-align: center;
}

.section2__nuevo__modelo_caja-valoracion{
    display: flex;
    justify-content: center;
}


.section2__valoracion{
    width: 71px;
    height: 14px;
    top: 312px;
    left: 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.section2__rating{
    content: url(./Instituto-Pazioli-main/imagenesSection2/rating-mobile.png);
    width: auto;
    height: 15.5px;
}
.section2__nuevo__parafo__container{
    display: flex;
    justify-content: center;
}
.section2__nuevo__modelo__parrafo{
    text-align: center;
    width: 290px;
    height: 131px;
}

.section2__nuevo__modelo__detalles{
    display: flex;
    justify-content: center;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    height: 14px;
    top:1264px;
}

.section2__nuevo__modelo__list-nuevo{
    width: 40px;
    left: 45.55px;
    list-style: none;
}

    .section2__nuevo__modelo__list-2021{
    width: 29px;
    left: 106.55px;
    margin-left: 21px;
}
    .section2__nuevo__modelo__list-Acus{
    width: 40px;
    left: 154.55px;
    margin-left: 19px;
}
    .section2__nuevo__modelo__list-Cedro{
    width: 56px;
    left: 217.55px;
    margin-left: 23px;
}

    .section2__nuevo__modelo__button{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 228px;
    height: 32px;
    border-radius: 8px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    border: none;
    text-align:end;
    align-self: center;
    padding-top: 8px;
}
}
@media only screen and (min-width:768px){
    .section2__nuevo__modelo{
        background: no-repeat;
        width: auto;
        height: 761px;
        border: 1px;
        font-family: 'Raleway';
        color: white;
        background-repeat: no-repeat;
        background-size: cover ;
        background-image: url(./Instituto-Pazioli-main/imagenesSection2/desktop-nuevo-modelo-background.png)
    }
    
    .section2__nuevo__modelo__titulo__container{
        display: flex;
        justify-content: center;
        height: 65px;
        color: black;
    }

    .section2__nuevo__modelo__titulo{
        display: flex;
        justify-content: center;
        width: 470px;
        height: 62px;
        font-size: 32px;
        font-weight: 400;
        line-height: 43.17px;
        letter-spacing: 0.05em;
        text-align: center;
        color: black;
    }


    .section2__nuevo__modelo__titulo, .section2__nuevo__modelo__ebony{
        font-family: 'Abril Fatface';
    }

    .section2__nuevo__modelo__imagen__container{
        display: flex;
        justify-content: right;
        margin-top: 190px;
        align-self: center;
    }
    .section2__nuevo__modelo__imagen{
        content: url(./Instituto-Pazioli-main/imagenesSection2/Desktop-nuevo-modelo-ebony.png);
        width: 506px;
        height: 463px;
    }   

    .section2__nuevo__modelo__section2{
        height: 358px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        left: 32px;
    }

    .section2__desktop__nuevo-modelo{
        position: absolute;
        top: 262px;
        width: 230px;
        height: 32px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.05em;
        left: 32px;
        text-align: left;
    }

    .section2__nuevo__modelo_caja-valoracion{
        position: absolute;
        top: 311px;
        left: 32px;
    }

    .section2__desktop__precio{
        position: absolute;
        top: 343px;
        width: 218;
        height: 32px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-align: left;
        left: 32px;
    }
    .section2__rating{
    content: url(./Instituto-Pazioli-main/imagenesSection2/rating-mobile.png);
    width: 112px;
    height: 16px;
    }
    .section2__nuevo__modelo__parrafo{
        position: absolute;
        width: 340px;
        height: 131px;
        top: 391px;
        text-align: left;
        left: 32px;
    }


    .section2__nuevo__modelo__detalles{
        display: flex;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-align: left;
        height: 14px;
    }

    .section2__nuevo__modelo__list-nuevo{
        position: absolute;
        top: 540px;
        width: 40px;
        left: 32px;
        list-style: none;
    }

    .section2__nuevo__modelo__list-2021{
        position: absolute;
        top: 540px;
        width: 40px;
        left: 78.55px;
    }

    .section2__nuevo__modelo__list-Acus{
        position: absolute;
        top: 540px;
        width: 40px;
        left: 141px;
    }

    .section2__nuevo__modelo__list-Cedro{
        position: absolute;
        top: 540px;
        width: 56px;
        left: 204px;
    }
    
    .section2__nuevo__modelo__button{
        position: absolute;
        background-color: black;
        width: 228px;
        height: 32px;
        top: 588px;
        left: 32px;
        border-radius: 8px;
        justify-self: center;
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: center;
        color: white;
        border: none;
    }
}
